/* Pagina de Anúncio */
#page-announce {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#announce-content {
  width: 80%;
  margin-top: 85px;
  height: 85%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* Área da seção do título */
#announce-content section {
  margin: 20px 0 40px;
}

#announce-content section h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  margin-bottom: 10px;
}

#announce-content section p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
}

/* Área de Formulário */
#announce-content form {
  display: flex;
  flex-direction: column;
}

#announce-content form button {
  background-color: rgb(65, 105, 225);
  border-radius: 6px;
  height: 35px;
  color: #fff;
  padding: 5px;
  display: inline-block;
  transition: 200ms;
}

#announce-content button:hover {
  background-color: rgba(65, 105, 225, 0.9);
}

/* Responsividade */
@media (min-width: 700px) {
  #announce-content form button {
    width: 280px;
    height: 40px;
    margin-top: 20px;
  }
}