.input-block {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 5px;
  height: 35px;
}

@media (min-width: 700px) {
  input {
    width: 280px;
    height: 40px;
  }
}