/* Pagina Home */
#page-home {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#home-content {
  height: 90%;
  margin-top: 150px;
  display: grid;
  justify-content: center;
  text-align: center;
}

#home-content .title {
  margin-bottom: 50px;
  display: flex;
}

#home-content .title h1 {
  font-size: 3rem;
}

#home-content .cars {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

#home-content .car-item {
  max-width: 25rem;
  max-height: 50rem;
  transition: 200ms;
  padding-bottom: 10px;
  border: 1px solid #c5c5c5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  transition: 200ms;
}

#home-content .car-item:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

#home-content .car-item a {
  text-decoration: none;
}

#home-content .car-item img {
  width: 24.5rem;
  height: 25rem;
  border-bottom: 1px solid #c5c5c5;
}

#home-content .details {
  text-align: left;
  padding: 5px 12px;
}

#home-content .details .car-name {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 700;
  color: #000;
}

#home-content .details .car-detail {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 500;
  color: #999;
}

#home-content .details .car-price {
  margin: 30px 0 5px;
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 900;
  color: #666;
}

#home-content .details .car-age {
  font-size: 1.4rem;
  font-weight: 700;
  color: #999;
}

#home-content .button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
}

#home-content .button a {
  background-color: rgb(65, 105, 225);
  width: 250px;
  height: 40px;
  border-radius: 6px;
  text-decoration: none;
  padding-top: 10px;
  color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: 200ms;
  font-size: 1.8rem;
}

#home-content .button a:hover {
  background-color: rgba(65, 105, 225, 0.9);
}

@media (min-width: 700px) {
  #home-content .cars {
    grid-template-columns: 1fr 1fr;
  }

  #home-content .car-item {
    margin-right: 30px;
    margin-bottom: 30px;
  }

  #home-content .button a {
    width: 300px;
    height: 50px;
    padding-top: 15px;
  }
}

@media (min-width: 1000px) {
  #home-content .cars {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1300px) {
  #home-content .cars {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}