#page-detail {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#detail-content {
  height: 90%;
  margin-top: 150px;
  display: grid;
  justify-content: center;
}

.modal-page section {
  margin: 20px 0 40px;
}

.modal-page section h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.modal-page section p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
}

.modal-page form {
  display: flex;
  flex-direction: column;
}

.modal-page form button {
  background-color: rgb(65, 105, 225);
  border-radius: 6px;
  height: 35px;
  color: #fff;
  padding: 5px;
  display: inline-block;
  transition: 200ms;
}

.modal-page button:hover {
  background-color: rgba(65, 105, 225, 0.9);
}

@media (min-width: 700px) {
  .modal-page form button {
    width: 280px;
    height: 40px;
    margin-top: 20px;
  }
}